<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
	  >
<head>
	<title>login</title>
	<style>
		* {
			padding: 0;
			margin: 0;
		}

		html, body {
			height: 100%;
			overflow-x: hidden;
			background-color: #FFFFFF !important;
			/* height: 100%; */
			color: #000000;
		}

	</style>
</head>

<body>


<form action="/login" method="post" role="form">
<fieldset>
	<legend>
		<h2>Login</h2>
	</legend>
	<div class="form-group">
		<label for="username">Username:</label> <input id="username"
													   class="form-control" type='text' name='username'
													   value="reader" />
	</div>
	<div class="form-group">
		<label for="password">Password:</label> <input id="password"
													   class="form-control" type='text' name='password' value="reader" />
	</div>
	<button class="btn btn-primary" type="submit">Login</button>
	<input type="hidden" name="${_csrf.parameterName}"
		   value="${_csrf.token}" />
</fieldset>
</form>


</body>
</html>