/gradlew
/gradle-app.setting
/gradlew.bat
/gradle
/.gradle
/build
/comm/target
/comm/bin
/core/bin-test
/comm/build
/classes
/core/build
/core/target
/core/bin
/core/.classpath
/core/.project
/core/.settings
/comm/.settings
/comm/.classpath
/comm/.project
/demo/bin
/demo/build
/demo/out
/demo/target
/demo/.classpath
/demo/.project
/demo/db.lock.db
/demo/db.mv.db
/demo/.settings
/util/.classpath
/util/.project
/util/.settings
/util/bin
/util/build
/util/out
/util/target

/auth/.classpath
/auth/.project
/auth/.settings
/auth/bin
/auth/build
/auth/out
/auth/target

/cloud/.classpath
/cloud/.project
/cloud/.settings
/cloud/bin
/cloud/build
/cloud/out
/cloud/target

/gateway/.classpath
/gateway/.project
/gateway/.settings
/gateway/bin
/gateway/build
/gateway/out
/gateway/target

/cloud/.classpath
/cloud/.project
/cloud/.settings
/cloud/bin
/cloud/build
/cloud/out
/cloud/target

/eureka/.classpath
/eureka/.project
/eureka/.settings
/eureka/bin
/eureka/build
/eureka/out
/eureka/target

/web/.settings
/web/target
/web/.classpath
/web/.project
/web/.externalToolBuilders
/.classpath
/.project
/bin/
/web/bin
/target
/.settings
/.idea
*.iml
/web/build


# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


eureka-server.log.*
